extends layout

block content
    h1= title
    p Welcome to #{title}
    a(href='../') Back
    a.alink(href='#home')
        img.gif1(src='images/moja1.png', alt='Moja pierwsza strona')
        img.gif2(src='images/moja2.png', alt='HELLO!')